[Unit]
Description=Xvfb Virtual Display
After=network.target

[Service]
Type=simple
User=opc
ExecStart=/usr/bin/Xvfb :1 -screen 0 2560x1024x24 -ac
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
